## IS608 - Assignment # 4 - Data Visualization in Python

James Hamski

#### Notebook Setup and Module Import

In [1]:
%pylab inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbs

Populating the interactive namespace from numpy and matplotlib

#### Data Import and Tidying

In [15]:
data_url = "https://raw.githubusercontent.com/jlaurito/CUNY_IS608/master/lecture4/data/riverkeeper_data_2013.csv"
raw_RiverKeeper_data = pd.read_csv(data_url)

In [16]:
raw_RiverKeeper_data.head()

,Site,Date,EnteroCount,FourDayRainTotal,SampleCount
0,Hudson above Mohawk River,10/16/2011,1733,1.5,35
1,Hudson above Mohawk River,10/21/2013,4,0.2,35
2,Hudson above Mohawk River,9/21/2013,20,0.0,35
3,Hudson above Mohawk River,8/19/2013,6,0.0,35
4,Hudson above Mohawk River,7/21/2013,31,0.0,35

In [18]:
raw_RiverKeeper_data.shape

(3397, 5)

In [19]:
raw_RiverKeeper_data.dtypes

Site                 object
Date                 object
EnteroCount          object
FourDayRainTotal    float64
SampleCount           int64
dtype: object

The first step is to get Site into a category type, Date into the date type, and EnteroCount, FourDayRainTotal, and SampleCount into their proper numeric types.

*Site*

*Date*

*EnteroCount*
The maximum reading is 2420 cells per 100 mL, signified by ">2420". I am going to round the readings that exceed the maximum measurement to 2420 and indicate in any presentation that actual EnteroCounts may have exceeded this value.

The minimum reading is usually 10 cells per 100 mL, signified by "<10". I am going to round down the minimum readings to 0, and specify in any presentation that 0 indicates a reading below the lowest possible measurement of 1 mL. In environmental data this is often marked as 'trace'.

#### 1. Create lists & graphs of the best and worst places to swim in the dataset.

#### 2. The testing of water quality can be sporadic. Which sites have been tested most regularly? Which ones have long gaps between tests? Pick out 5-10 sites and visually compare how regularly their water quality is tested.

#### 3. Is there a relationship between the amount of rain and water quality?  Show this relationship graphically. If you can, estimate the effect of rain on quality at different sites and create a visualization to compare them.